header.profile {
  height: 520px;
  width: 40%;
  background-color: darkorange;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  header.profile {
    width: 100%;
  }
}