nav {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  height: 120px;
  color: #FFFFFF;
  background-color: transparent;
  padding-left: 1.5em;
  padding-right: 10em;
  position: fixed;
  top: 0;
}

span {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
  height: 120px;
  display: flex;
  align-items: center;
  position: fixed;
}

a {
  color: #FFFFFF;
  display: flex;
}

.top {
  height:120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: row;
}

.right {
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#arrow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
}

.fa-angles-down {
  color: red;
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
  cursor: pointer;
}