nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

span {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
  height: 120px;
  display: flex;
  align-items: center;
}

a {
  color: #FFFFFF;
  display: flex;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}