div.error {
  border-style: solid;
  border-color: red;
  color: red;
  margin-top: 1em;
  display: none;
}

.new-tweet {
  margin-bottom: 2em;
 }

 .new-tweet button {
   background-color: #4056A1;
   border: 0px;
   color: #FFFFFF;
   font-family: 'Bungee', cursive;
 }

 button.blue {
  background-color: #4056A1;
 }

 button.orange {
  background-color: darkorange;
 }

 .new-tweet output {
  font-family: 'Bungee', cursive;
}

 .block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
 }

 div.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 }


 textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  background: transparent;
  outline: none;
  border-bottom-width: thick;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  min-height: auto;
  height: 50px;
  min-width: 100%;
  max-width: 100%;
  width: inherit;
 }

 .counter {
   color: black;
 }

 .counterZero {
  color: red;
}